body{
    background-color: #EEE8AA;
}
.blogbg{
    background-color: bisque;
    border-radius: 10%;
}
.blogicon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.blog{
    display: contents;

}
.outline{
    width: 106px;
}
.photo{
   width: 90px;
   margin-right: -98px;
}