html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 100%;
  touch-action: none;
}

canvas {
  display: block;
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  padding-top: 10vh;
}

/* 星空背景 */
.stars {
  width: 100%;
  height: 100%;
  background: transparent url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: twinkling 1000s infinite linear;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

@keyframes twinkling {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

/* Rotation cube */
.cube-container {
  width: 200px;
  height: 200px;
  perspective: 800px;
  margin: 50px auto;
  transition: 0.8s ease-out;
  scale: 0.7;
  animation: jump 2s ease-in-out infinite;
}

@keyframes jump {

  0%,
  100% {
    transform: translateY(25%);
  }

  50% {
    transform: translateY(-25%);
  }
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 8s infinite linear;
}

#cube {
  transition: transform 2s ease-in-out, opacity 1s ease-in-out;
  transform: scale(1);
  opacity: 1;
  user-select: none;

}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 40px;
  text-align: center;
  line-height: 200px;
  background: #00000045;
  border: 2px solid;
  border-image: var(--french);
  box-shadow: 0 0 80px -25px rgba(219, 213, 213, 0.7)
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.card {
  overflow: hidden;
  position: relative;
  text-align: left;
  max-width: 90vh;
  background-color: #ffffff00;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}


.div_image_v {
  background: #ffffff00;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  padding: 5px;
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
}

.image svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #066e29;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
}

.message {
  margin-top: 0.5rem;
  color: #e3e3e3;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: left;
  /* 讓文字居中 */
  justify-content: center;
  padding: 5px;
  max-width: 95%;
  margin-left: auto;
  /* 讓內容區塊居中 */
  margin-right: auto;
  /* 讓內容區塊居中 */
}


@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.centered-cube {
  color: white;
  z-index: 4;
  position: absolute;
  top: 25%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* 讓子元素也能水平置中 */
  pointer-events: auto;
}

.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120%;
  width: 120%;
  z-index: 3;
}

.dc {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(88, 101, 242, 1);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgba(88, 101, 242, 1);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.dc .dcw {
  margin: 10px;
}

.ig {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255,0,0);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255,0,0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.ig .igw {
  margin: 10px;
}

.igw{
  left: -50px;
}