html,
body {
  font-family: "Huninn", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(16, 16, 16);
  width: 100%;
  height: 100%;
  touch-action: none;
}

/*div{
  outline: solid red 2px;
}*/

/* background stars */
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  z-index: 1;
  animation: twinkling 1000s infinite linear;
  box-sizing: border-box;
}

@keyframes twinkling {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

/* info */
.header {
  padding: 10px 5px 10px 5px;
  gap: 20px;
  background-color: #000000;
  z-index: 1;
  align-items: center;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 2rem;
  position: relative;
}

.centerstyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-c {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 20px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.hover-c:hover {
  background-color: rgba(161, 211, 233, 0.5);
}

.headericon-container {
  position: relative;
  /* dropdown 相對定位 */
  display: inline-block;
}

.headericon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* dropdown 預設隱藏 */
.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -10px);

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  min-width: 120px;
  border-radius: 20px;
  padding: 5px;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.dropdown-t {
  position: relative;
}

.dropdown a {
  padding: 10px;
  white-space: nowrap;
  display: inline-block;
  border-radius: 20px;
}

/* hover icon 時顯示 dropdown */
.dropdown-t:hover .dropdown {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
}

.dropdown a {
  display: block;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s;
  border-radius: 20px;

}

.dropdown a:hover {
  background-color: rgb(161, 211, 233, 0.5);

}

.tc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  top: 10%;
}

.table {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  flex: 1;
}

.left-col {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right-col {
  flex: 50%;
  display: flex;
  flex-direction: column;
}

/* 三個小 box 排列 */
.three-box-row {
  display: flex;
  gap: 15px;
  width: 100%;
}

.small-box {
  flex: 1;
  max-height: 80px;
  background-color: rgba(39, 39, 39, 0.2);
  border: 2px solid rgba(59, 59, 59, 0.6);
  box-shadow: 3px 3px 5px 1px rgba(251, 251, 251, 0.1);
  color: rgb(204, 204, 204);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  /* 過渡動畫 */
  transition:
    flex 0.7s cubic-bezier(0.25, 0.1, 0.25, 1),
    /* 彈性放大 */
    background 0.4s ease;
}

.small-box:hover {
  flex: 2.5;
  background: rgba(68, 68, 68, 0.2);
}

/* 原本大 box */
.box {
  background-color: rgba(39, 39, 39, 0.2);
  box-shadow: 3px 3px 5px 1px rgba(251, 251, 251, 0.1);
  color: rgb(204, 204, 204);
  border-radius: 20px;
  width: 100%;
  flex: 1;
  min-height: 270px;
}

/* rolling 特效 */
.rolling {
  position: relative;
  width: 100%;
  height: 120px;
  background: rgba(34, 34, 34, 0.3);
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rolling .text-b {
  position: relative;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.4s ease;
  font-size: 20px;
}

.rolling:hover .text-b {
  opacity: 0;
}

.rolling .text-a {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.rolling:hover .text-a {
  opacity: 1;
}

.home {
  color: white;
  height: 30px;
}

.home .text-a {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  opacity: 0;
  transition: opacity 0.1s ease;
  pointer-events: none;
}

.home:hover .text-a {
  opacity: 1;
}

.home .text-b {
  position: relative;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.5s ease;
  font-size: 20px;
}

.home:hover .text-b {
  opacity: 0;
}

/* 光暈效果 */
.rolling::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, rgba(110, 209, 248, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  transform: rotate(-5deg);
  filter: blur(20px);
  transition: left 1s ease;
  z-index: 1;
  pointer-events: none;
}

.rolling:hover::before {
  left: 0;
}


.pr-photo {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  min-height: 350px;
}

/* 圖+遮罩+漸層 放到 ::before 裡 */
.pr-photo::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 80%),
    url("../../public/images/20240308_075055240_iOS.jpg") center/cover no-repeat;

  mask-image: linear-gradient(to bottom, black 0%, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 0%, black 60%, transparent 100%);


  z-index: 1;
  pointer-events: none;
}

.pr-photo>* {
  position: absolute;
  z-index: 2;
  color: white;
  top: 75%;
  left: 15px;
  font-size: 20px;
}