<header class="header">
  <div
    style="margin-right: 1rem; width:80%; display: flex; gap:10px"
    class="centerstyle"
  >
    <div class="headericon-container dropdown-t">
      <div class="hover-c">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="30"
          width="30"
          viewBox="0 -1 24 24"
          fill="#ffffff"
          ><g fill="none" stroke="#ffffff" stroke-width="1.5"
            ><path
              stroke-linecap="round"
              d="M7.529 16.471C2.59 11.533.589 5.527 3.058 3.058C5.048 1.067 9.338 1.982 13.513 5m2.958 2.529c4.939 4.939 6.94 10.944 4.471 13.413c-1.989 1.989-6.27 1.078-10.442-1.932M20.942 3.058c2.47 2.469.468 8.474-4.47 13.413c-4.94 4.939-10.945 6.94-13.414 4.471c-1.991-1.99-1.076-6.28 1.942-10.456A24.48 24.48 0 0 1 7.529 7.53C12.468 2.59 18.473.589 20.942 3.058Z"
            ></path><path d="M14.5 12a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0Z"
            ></path></g
          ></svg
        >
      </div>
      <div class="dropdown">
        <a href="#">個人資料</a>
        <a href="#">設定</a>
        <a href="#">登出</a>
      </div>
    </div>
    <div class="hover-c home">
      <p class="text-b">Kapiso</p>
      <span class="text-a"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 576 512"
          ><path
            fill="white"
            d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"
          ></path></svg
        ></span
      >
    </div>
  </div>

  <div class="centerstyle">
    <div class="hover-c dropdown-t" style="height: 30px; width: auto;">
      <p style="color: white;">文章</p>
      <div class="dropdown">
        <a href="#">隨便看看</a>
        <a href="#">標籤</a>
        <a href="#">分類</a>
      </div>
    </div>
    
    <div class="hover-c dropdown-t" style="height: 30px; width: auto;">
      <p style="color: white;">關於</p>
      <div class="dropdown">
        <a href="#">本人</a>
        <a href="#">文章總覽</a>
      </div>
    </div>
  </div>
</header>
