---
import { getEntry } from 'astro:content';
const { slug } = Astro.params;
const post = await getEntry('posts', slug);
---

<html>
  <body>
    <h1>{post.data.title}</h1>
    <article>
      {post.render().Content()}
    </article>
  </body>
</html>
