@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:wght@300;400;700&family=Zhi+Mang+Xing&display=swap');
@import "tailwindcss";

@theme {
  --color-story-dark: #0f172a;
  --color-story-accent: #38bdf8;
  --color-story-text: #e2e8f0;

  --font-serif: Merriweather, serif;
  --font-sans: Inter, sans-serif;
  --font-cool: 'Zhi Mang Xing', cursive;
}

/* Custom Utilities */
@utility text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Base Styles */
body {
  @apply bg-story-dark text-story-text font-serif antialiased;
  background-image: radial-gradient(circle at center, #1e293b 0%, #0f172a 100%);
  min-height: 100vh;
}