---
const { title = "My Blog", description = "" } = Astro.props;
---

<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link rel="stylesheet" href="styles/global.css">
    <!-- 字體導入 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Huninn&family=Kalam&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Zen+Maru+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="stars">
      <slot />
    </div>
  </body>
</html>
